@import 'assets/styles/index.scss';

.box {
  @include mq(mob-only) {
    padding: 20px;
    border-bottom: 2px solid #e0e0e0;
    width: 100%wv;
  }
  @include mq(tab-only) {
    padding: 20px 32px 16px 32px;
    border-bottom: 2px solid #e0e0e0;

    width: 100%;
  }

  @include mq(tab) {
    padding: 20px 32px 16px 32px;

    width: 100%;
  }
  @include mq(desk) {
    // max-width: 1280px;
    padding: 80px 0 147px 16px;
    border-bottom: none;
  }
}

.temp {
  display: grid;
  gap: 20px;
  align-items: end;
  @include mq(mob-only) {
    grid-template-columns: 47px 1fr;
  }
  @include mq(tab) {
    grid-template-columns: 167px 1fr;
  }
}
