@import 'assets/styles/index.scss';


.pictures {
  @include mq(tab) {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 570px;
        height: 910px;
            margin-top: -500px;
    z-index: -1;
    background-image: url(../../assets/images/bananaDeskTab@1x.png), url(../../assets/images/strawberryBigDeskTab@1x.png), url(../../assets/images//vectorDeskTab@1x.png), url(../../assets//images/leavesTab@1x.png);
    background-position: calc(100% - 0px) calc(100% + 104px), calc(100% + 61px) calc(100% - 231px), calc(100% + 32px) calc(100% + 185px), calc(100% - 0px) calc(100% - 265px);
    background-size: 492px 431px, 355px 348px, 553px 750px, 740px 750px;
    background-repeat: no-repeat;

    @include mq(retina) {
      background-image: url(../../assets/images/bananaDeskTab@2x.png),
        url(../../assets/images/strawberryBigDeskTab@2x.png),
        url(../../assets/images//vectorDeskTab@2x.png),
        url(../../assets//images/leavesTab@2x.png);
    }
  }

  @include mq(desk) {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -590px;
    margin-top: -366px;
        height: 600px;
    padding-top: 400px;
    padding-bottom: 595px;
    background-image: url(../../assets//images/leavesDesk@1x.png), url(../../assets/images/bananaDeskTab@1x.png), url(../../assets/images/strawberryBigDeskTab@1x.png), url(../../assets/images//vectorDeskTab@1x.png);
    background-position: calc(100% - 150px) calc(100% - 100px), calc(100% - 0px) calc(0% + 90px), calc(100% + 0px) calc(100% - 0px), calc(100% + 0px) calc(100% - 0px);
    background-size: 980px 820px, 492px 431px, 355px 348px, 602px 816px;

    @include mq(retina) {
        background-image: url(../../assets//images/leavesDesk@2x.png), url(../../assets/images/bananaDeskTab@2x.png),
          url(../../assets/images/strawberryBigDeskTab@2x.png),
          url(../../assets/images//vectorDeskTab@2x.png);
      }
  }
}

.box {
  background-color: hsl(220, 11%, 95%);
  padding-top: 40px;
  padding-bottom: 70px;

  @include mq(tab) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../../assets/images/leavesBarTab@1x.png);
    background-position: calc(100% - 0px) calc(100% + 25px);
    background-size: 428px 602px;
        background-repeat: no-repeat;

        @include mq(retina) {
          background-image: url(../../assets/images/leavesBarTab@2x.png);
        }
  }

  @include mq(desk) {
    // height: 100vh;
    height: 900px;
    margin: -292px 0;
    padding-top: 292px;
    z-index: -1;
    background-image: url(../../assets/images/leavesBarDesk@1x.png);
    background-position: calc(100% + 69px) calc(100% - 37px);
    background-size: 740px 842px;
  }
}

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    width: 768px;
    display: flex;
    gap: 79px;
  }

  @include mq(desk) {
    width: 517px;
    display: flex;
    flex-direction: column;
  }
}

.summarySection {
  @include mq(desk) {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #212121;

  @include mq(tab) {
    margin-bottom: 37px;
  }
}

.table {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

/* .table:last-child{
            padding-bottom: 0px;
        } */

.tableCellLeft {
  max-width: 160px;
  padding-bottom: 15px;

  @include mq(tab) {
    max-width: 144px;
  }
}

.dietSection {
  margin-top: 25px;
  min-height: 104px;

  @include mq(tab) {
    margin-top: 0;
  }

  @include mq(desk) {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tableCellRight {
  width: 160px;
  text-align: right;
  padding-bottom: 15px;

  @include mq(tab) {
    max-width: 144px;
  }
}

.headerTwo {
  /* margin-top: 25px; */
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #212121;

  @include mq(tab) {
    margin-bottom: 37px;
  }
}

.textDiet {
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
  margin-top: 20px;
}

@media screen and (min-width: 767.98px) {
  // .container {
  //     width: 768px;
  //     display: flex;
  //     gap: 79px;
  // }

  // .box {
  //     padding-top: 80px;
  //     padding-bottom: 80px;
  // }

  // .header {
  //     margin-bottom: 37px;
  // }

  // .headerTwo {
  //     margin-bottom: 37px;
  // }

  // .dietSection {
  //     margin-top: 0;

  // }

  // .tableCellLeft {
  //     max-width: 144px;

  // }

  // .tableCellRight {
  //     max-width: 144px;
  // }
}

// @media screen and (min-width: 1279.98px) {
// .container {
//     width: 517px;
//     display: flex;
//     flex-direction: column;
// }

// .summarySection {
//     width: 288px;
//     margin-left: auto;
//     margin-right: auto;
// }

// .dietSection {
//     width: 288px;
//     margin-left: auto;
//     margin-right: auto;

// }
// }
.food {
  width: 280px;
}

.title_sidebar {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  @include mq(tab) {
    margin-bottom: 35px;
  }
}

.menuGroupList {
  width: 280px;
  height: 305px;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;

  @include mq(tab) {
    width: 240px;
    height: 305px;
  }

    @include mq(desk) {
    height: 315px;
  }
}

.menuGroupItems {
  width: 255px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  color: var(--second-text-color);

  @include mq(tab) {
        margin-bottom: 15px;
    width: 235px;
  }

     @include mq(desk) {
    width: 230px;
  }
}