@import 'assets/styles/index.scss';

.pictures {
  @include mq(tab) {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 570px;
    height: 910px;
    margin-top: -500px;
    z-index: -1;
    background-image: url(../../assets/images/bananaDeskTab@1x.png),
      url(../../assets/images/strawberryBigDeskTab@1x.png),
      url(../../assets/images//vectorDeskTab@1x.png),
      url(../../assets//images/leavesTab@1x.png);
    background-position: calc(100% - 0px) calc(100% + 104px),
      calc(100% + 61px) calc(100% - 231px), calc(100% + 32px) calc(100% + 185px),
      calc(100% - 0px) calc(100% - 265px);
    background-size: 492px 431px, 355px 348px, 553px 750px, 740px 750px;
    background-repeat: no-repeat;

    @include mq(retina) {
      background-image: url(../../assets/images/bananaDeskTab@2x.png),
        url(../../assets/images/strawberryBigDeskTab@2x.png),
        url(../../assets/images//vectorDeskTab@2x.png),
        url(../../assets//images/leavesTab@2x.png);
    }
  }

  @include mq(desk) {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -590px;
    margin-top: -366px;
    height: 600px;
    padding-top: 400px;
    padding-bottom: 595px;
    background-image: url(../../assets/images/bananaDeskTab@1x.png),
      url(../../assets/images//vectorDeskTab@1x.png);
    background-position: calc(100% - 0px) calc(0% + 90px),
      calc(100% + 0px) calc(100% - 0px);
    background-size: 492px 431px, 602px 816px;

    @include mq(retina) {
      background-image: url(../../assets/images/bananaDeskTab@2x.png),
        url(../../assets/images//vectorDeskTab@2x.png);
    }
  }
}
.background {
  position: relative;
  bottom: 32px;
  left: 16px;
  background-repeat: no-repeat;
  @include mq(tab) {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 570px;
    height: 910px;
    margin-top: -500px;
    z-index: -1;
    // background-image: url(../../assets/images/strawberryBigDeskTab@1x.png),
    //   url(../../assets//images/leavesTab@1x.png);
    background-position: calc(100% + 61px) calc(100% - 231px),
      calc(100% - 0px) calc(100% - 265px);
    background-size: 355px 348px, 740px 750px;
    background-repeat: no-repeat;

    @include mq(retina) {
      // background-image: url(../../assets/images/strawberryBigDeskTab@2x.png),
      //   url(../../assets//images/leavesTab@2x.png);
    }
  }

  @include mq(desk) {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -590px;
    margin-top: -366px;
    height: 600px;
    padding-top: 400px;
    padding-bottom: 595px;
    // background-image: url(../../assets//images/leavesDesk@1x.png);

    background-position: calc(100% - 150px) calc(100% - 100px);
    background-size: 980px 820px;

    @include mq(retina) {
      // background-image: url(../../assets//images/leavesDesk@2x.png);
    }
  }
}

.backgroundbigLeaf {
  position: relative;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 292px;
  left: 970px;
  // transform: rotate(12deg);
  bottom: 150px;
  width: 500px;
  @include mq(desk) {
    background-image: url(../../assets/images/leavesDeskBigLeaf@2x.png);
    background-position: calc(100% - 150px) calc(100% - 100px);
    background-size: 258px 295px;
    @include mq(retina) {
      background-image: url(../../assets/images/leavesDeskBigLeaf@2x.png);
    }
  }
}

.backgroundTop {
  position: relative;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 90px;
  padding-left: 110px;
  margin-left: 220px;
  bottom: 850px;
  left: 10px;
  @include mq(desk) {
    background-image: url(../../assets/images/leavesDeskTop@2x.png);
    background-position: calc(100% - 150px) calc(100% - 100px);
    background-size: 200px;
    @include mq(retina) {
      background-image: url(../../assets/images/leavesDeskTop@2x.png);
    }
  }
}
.backgroundRight {
  position: relative;
  background-repeat: no-repeat;
  padding-top: 260px;
  padding-bottom: -490px;
  // padding-left: 200px;
  margin-left: -470px;
  left: 970px;
  bottom: 890px;
  margin-right: 300px;
  width: 700px;
  @include mq(desk) {
    background-image: url(../../assets/images/leavesDeskRight@2x.png);
    background-position: calc(100% - 150px) calc(100% - 100px);
    background-size: 500px;
    @include mq(retina) {
      background-image: url(../../assets/images/leavesDeskRight@2x.png);
    }
  }
}

.backgroundBottom {
  position: relative;
  background-repeat: no-repeat;
  padding-top: 450px;
  // padding-left: 200px;
  // margin-left: -200px;
  left: 970px;
  bottom: 890px;

  margin-top: 200px;
  margin-right: 290px;
  margin-left: -60px;
  width: 700px;
  @include mq(desk) {
    background-image: url(../../assets/images/leavesDeskBottom@2x.png);
    background-position: calc(100% - 150px) calc(100% - 100px);
    background-size: 500px;
    @include mq(retina) {
      background-image: url(../../assets/images/leavesDeskBottom@2x.png);
    }
  }
}

.backgroundStrawberry {
  position: relative;
  background-repeat: no-repeat;
  padding-top: 650px;
  // padding-left: 200px;
  // margin-left: -200px;
  left: 970px;
  bottom: 1700px;

  margin-top: 170px;
  margin-right: 270px;
  margin-left: 130px;
  width: 700px;
  @include mq(desk) {
    background-image: url(../../assets/images/strawberryBigDeskTab@2x.png);
    background-position: calc(100% - 150px) calc(100% - 100px);
    background-size: 360px;
    @include mq(retina) {
      background-image: url(../../assets/images/strawberryBigDeskTab@2x.png);
    }
  }
}
//sdsd
.box {
  background-color: hsl(220, 11%, 95%);
  padding-top: 40px;
  padding-bottom: 70px;

  @include mq(tab) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../../assets/images/leavesBarTab@1x.png);
    background-position: calc(100% - 0px) calc(100% + 25px);
    background-size: 428px 602px;
    background-repeat: no-repeat;

    @include mq(retina) {
      background-image: url(../../assets/images/leavesBarTab@2x.png);
    }
  }

  @include mq(desk) {
    height: 1000px;
    margin: -292px 0;
    padding-top: 292px;
    z-index: -1;
    background-image: url(../../assets/images/leavesBarDesk@1x.png);
    background-position: calc(100% + 69px) calc(100% - 135px);
    background-size: 740px 842px;
  }
}

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    width: 768px;
    display: flex;
    gap: 79px;
  }

  @include mq(desk) {
    width: 517px;
    display: flex;
    flex-direction: column;
  }
}

.summarySection {
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 0px;
  }

  @include mq(desk) {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  // text-align: center;
  color: #212121;

  @include mq(tab) {
    margin-bottom: 37px;
  }
}

.table {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.tableCellLeft {
  max-width: 160px;
  padding-bottom: 15px;

  @include mq(tab) {
    max-width: 144px;
  }
}

.dietSection {
  margin-top: 25px;
  min-height: 104px;

  @include mq(tab) {
    margin-top: 0;
  }

  @include mq(desk) {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tableCellRight {
  width: 160px;
  text-align: right;
  padding-bottom: 15px;

  @include mq(tab) {
    max-width: 144px;
  }
}

.headerTwo {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #212121;

  @include mq(tab) {
    margin-bottom: 37px;
  }
}

.textDiet {
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
  margin-top: 20px;
}

.food {
  z-index: 100000;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.title_sidebar {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  letter-spacing: 0.04em;
  @include mq(tab) {
    margin-bottom: 35px;
  }
}

.menuGroupList {
  height: 305px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;

  @include mq(tab) {
    width: 240px;
    height: 305px;
  }

  @include mq(desk) {
    height: 315px;
  }
}

.menuGroupItems {
  width: 255px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  color: #9b9faa;

  @include mq(tab) {
    margin-bottom: 15px;
    width: 235px;
  }

  @include mq(desk) {
    width: 230px;
  }
}

.text_sidebar_food {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
}
