
.container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
@media screen and (min-width: 767.98px) {
    .container{
        width: 768px;
/* background-image: url(../../assets/images/leavesTab@1x.png); */
background-repeat: no-repeat;
    }
   
}

.register {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FC842D;
    margin-bottom: 60px;
}

.input {
    border: 1px solid #E0E0E0;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 280px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    outline: none;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid #fc842d;
}


.label {
    margin-bottom: 40px;
}

.label:last-of-type {
    margin-bottom: 0px;
}


.btnOrange {
    cursor: pointer;
    background: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    color: #ffffff;
    align-items: center;
    text-align: center;
    width: 182px;
    height: 44px;
    padding: 13px 51px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.btnTransperent {
    cursor: pointer;
    background: #ffffff;
    border: 2px solid #fc842d;
    border-radius: 30px;
    color: #fc842d;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;

    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    width: 182px;
    height: 44px;
    padding: 13px 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}