@import 'assets/styles/index.scss';

// .box {
//   @include mq(tab) {
//     padding-left: 32px;
//     padding-right: 32px;
//     padding-top: 160px;
//     padding-bottom: 495px;
//     // margin-top: -80px;
//     background-image: url(../../assets/images/bananaDeskTab@1x.png), url(../../assets/images/strawberryBigDeskTab@1x.png), url(../../assets/images//vectorDeskTab@1x.png), url(../../assets//images/leavesTab@1x.png);
//     background-position:calc(100% - 0px) calc(100% + 104px), calc(100% + 61px) calc(100% - 231px), calc(100% + 32px) calc(100% + 185px), calc(100% - 12px) calc(100% - 229px);
//     // 32px 237px;
// background-size: 492px 431px, 355px 348px, 553px 750px, 740px 842px;
//     background-repeat: no-repeat;
//     @include mq(retina) {
//       background-image: url(../../assets/images/bananaDeskTab@2x.png),
//         url(../../assets/images/strawberryBigDeskTab@2x.png),
//         url(../../assets/images//vectorDeskTab@2x.png),
//         url(../../assets//images/leavesTab@2x.png);
//     }
//   }
       
//   @include mq(desk) {

//     padding-left: 16px;
//     padding-right: 16px;
//         margin-top: -210px;
//     padding-top: 270px;
//     padding-bottom: 255px;
//     background-image: url(../../assets/images/bananaDeskTab@1x.png), url(../../assets/images/strawberryBigDeskTab@1x.png), url(../../assets/images//vectorDeskTab@1x.png), url(../../assets//images/leavesDesk@1x.png);
//       background-position: calc(100% - 0px) calc(100% + 104px), calc(100% + 61px) calc(100% - 231px), 100% 100%, calc(100% - 12px) calc(100% - 229px);
//       // 32px 237px;
//       background-size: 492px 431px, 355px 348px, 602px 816px, 980px 820px;
//   }
// }

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  // margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
      padding-top: 140px;
      width: 704px;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 0;
  padding-left: 32px;
    padding-right: 32px;
  }
  @include mq(desk) {
        padding-top: 80px;
    // width: 1200px;
  }
}

.register {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    margin-left: 0;
    margin-right: 0;
  }
}

.header {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fc842d;
  margin-bottom: 60px;

  @include mq(tab) {
    text-align: left;
  }
}

.buttonSection {
  margin-top: 60px;
  @include mq(tab) {
    display: flex;
    gap: 32px;
  }
}

.input {
  border: 1px solid #e0e0e0;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 280px;
  height: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  outline: none;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #fc842d;
}

.label {
  margin-bottom: 40px;
}

.label:last-of-type {
  margin-bottom: 0px;
}

.btnOrange {
  @extend %btnOrange;
  margin-left: auto;
  margin-right: auto;
  width: 182px;
  height: 44px;
  // padding: 13px 51px;
  box-sizing: border-box;

  @include mq(tab) {
    
    margin-left: 0;
    margin-right: 0;
  }
}

.btnTransperent {
  @extend %btnTransperent;

  width: 182px;
  height: 44px;
  // padding: 13px 51px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  @include mq(tab) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
