@import 'assets/styles/index.scss';

.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(33, 33, 33, 0.12);
}

.Modal__content {
  position: absolute;
  display: flex;
  justify-content: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // min-height: 300px;
  // max-width: 600px;
  width: 100%;
  // padding: 12px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  @include mq(mob-only) {
    max-width: 320px;
  }
  @include mq(tab) {
    max-width: 672px;
  }
}
.container {
  width: 509px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mq(mob-only) {
    padding: 40px 0 119px 0;
  }
  @include mq(tab) {
    padding: 64px 0 81px 0;
  }
}

.title {
  margin: 0;

  @include mq(mob-only) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: #212121;
    padding: 0 20px;
  }
  @include mq(tab) {
    font-size: 26px;
    line-height: 1.23;
    text-align: center;
  }
}

.number {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;

  color: #264061;
  margin: 0;

  @include mq(mob-only) {
    padding: 40px 0 32px;
  }
  @include mq(tab) {
    padding: 20px 0 32px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.04em;

  color: #212121;
}

.list {
  padding: 0 0 0 20px;
  margin: 0;
}
.item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.btn {
  padding: 13px 25px;

  @extend %btnOrange;

  @include mq(mob-only) {
    margin: 40px 0 0 0;
  }
  @include mq(tab) {
    margin: 40px 0 0 0;
  }
}

.box {
  border-top: 1px solid #e0e0e0;
  @include mq(mob-only) {
    width: 280px;
  }
  @include mq(tab) {
    width: 330px;
  }
}

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  @include mq(mob-only) {
    top: 24px;
    right: 24px;
    width: 17px;
    height: 17px;
  }
  @include mq(tab) {
    top: 32px;
    right: 32px;
    width: 17px;
    height: 17px;
  }
  @include mq(desk) {
    top: 32px;
    right: 32px;
    width: 25px;
    height: 25px;
  }

  // text-decoration: none;
  cursor: pointer;
  // background-color: inherit;
  padding: 0;

  transition: transform 0.5s;
  &:hover {
    fill: var(--main-accent-color);
    border-radius: 100%;
    border: 1px solid rgba(220, 86, 197, 0.3);
    transform: rotate(360deg);
    opacity: 1;
    box-shadow: 0 0 1px 5px (var(--main-accent-color, 0.4)),
      0 0 1px 10px (var(--main-accent-color, 0.1)),
      0 0 1px 15px (var(--main-accent-color, 0.1));
  }
  &:active {
    transform: scale(0.9);
  }
  &__icon {
    // width: 25px;
    // height: 25px;
    fill: var(--main-accent-color);
    display: block;
  }
}

.buttonclose__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
