@import 'assets/styles/index.scss';

.box_modal {
  background-color: var(--accent-background-color);

  margin-top: 80px;
  // padding-bottom: 100%;
  // padding-top: 60px;
  height: 100vh;
  width: 100%;
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  @include mq(mob-only) {
    padding-top: 60px;
  }
  @include mq(tab) {
    padding-top: 100px;
  }
  @include mq(desk) {
    display: none;
  }
}

.nav_modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include mq(tab) {
    gap: 40px;
    font-size: 24px;
  }
}
