.text {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.93;
  color: #212121;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}
