:root {
  --main-text-color: #9b9faa;
  --accent-text-color: #212121;
  --main-accent-color: #fc842d;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f0f1f3;
  --accent-background-color: #264061;
  --secondary-text-color: #ffffff;
  --item-list-color: #9b9faa;

  // Modal window
  --modal-background-color: rgba(33, 33, 33, 0.12);
  --modal-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  --modal-small-box-border: #e0e0e0;
  --modal-mobile-background: #eff1f3;
}
