:root {
  --main-text-color: #9b9faa;
  --accent-text-color: #212121;
  --main-accent-color: #fc842d;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f0f1f3;
  --accent-background-color: #264061;
  --secondary-text-color: #ffffff;
}
