.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.93;
  letter-spacing: 0.04em;
  border: 0;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  color: #9b9faa;
  // margin-right: 40px;
  // @extend %btnTransperent;
}

.text {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.93;
}

.nav {
  display: flex;
  gap: 16px;
  height: 32px;
  border-left: 2px solid #e0e0e0;
  align-items: center;
  padding-left: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rightBar {
  display: flex;
  gap: 20px;
}

.user {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.93;
  letter-spacing: 0.04em;
  padding-right: 20px;
  height: 32px;
  border-right: 2px solid #e0e0e0;
  color: #212121;

  align-items: center;
}
